<nav class="nav navbar sticky-top navbar-light bg-light">
  <div class="container-fluid">
    <div class="logo-items">
      <a class="navbar-brand" href="/">
        <img
          src="/favicon.ico"
          alt=""
          width="10%"
          class="d-inline-block align-text-middle"
        />
        MC Manager
      </a>
    </div>
    <div class="navitems-parent">
      <div class="navitems">
        <span class="dropdown">
          <a
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            class="btn btn-light navbtn"
          >
            <span class="bi bi-person-circle"></span>
          </a>
          <ul
            id="userDropdown"
            class="
              dropdown-menu dropdown-menu-light dropdown-menu-end
              text-muted
            "
            aria-labelledby="dropdownMenuLink"
          >
            <li><a class="dropdown-item" href="/logout">Sign Out</a></li>
          </ul>
        </span>
        <a href="#" class="btn btn-light navbtn hidden">
          <span class="bi bi-gear"></span>
        </a>
        <a href="#" class="btn btn-light navbtn hidden">
          <span class="bi bi-info-circle"></span>
        </a>
      </div>
    </div>
  </div>
</nav>
