.contents-body {
  text-align: left;
}
.status-header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.s-name {
  display: block;
  flex-grow: 1;
  font-size: 2rem;
}
.status-label {
  margin: 2%;
  float: right;
}
.server-status-active {
  color: var(--bs-success);
}
.server-status-inactive {
  color: var(--bs-danger);
}
.server-status-creating {
  color: var(--bs-warning);
}

.label {
  font-size: 1.5rem;
}
.info .data {
  font-size: 1.25rem;
}
.action-bar button {
  display: inline;
  font-size: 1rem;
  font-weight: 700;
}
@media only screen and (max-width: 700px) {
  .status-label {
    display: block;
    float: none;
  }
  .status-header {
    display: block;
  }
}
/* #f1f3f5 */
.players {
  flex-grow: 1;
  background-color: #f1f3f5;
  margin: 2%;
  padding: 5%;

  border-radius: 5px;
}
.player {
  margin-bottom: 3%;
  display: flex;
}
.playericon {
  width: 5%;
  min-width: 30px;
}
.playername {
  margin-left: 2%;
  flex-grow: 1;
}
.opbtns {
}
